# ECP5 Pin constraints for T9000 FPGA
# Target: ECP5-25K CABGA256 package

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock input (25 MHz crystal)
FREQUENCY PORT "io_clk" 25.0 MHZ;
LOCATE COMP "io_clk" SITE "B9";
IOBUF PORT "io_clk" IO_TYPE=LVCMOS33;

# Reset button (active high)
LOCATE COMP "io_rst" SITE "P4";
IOBUF PORT "io_rst" PULLMODE=UP IO_TYPE=LVCMOS33;

# 
IOBUF PORT "io_led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;

# 
IOBUF PORT "io_uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

# 
IOBUF PORT "io_link0_out" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_link0_in" PULLMODE=UP IO_TYPE=LVCMOS33;

# 
IOBUF PORT "io_running" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_error" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;